
#ban{
  width: 100%;
  height: 300px;
  background-image: url("../img/ban.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

ul {
    list-style-type: none;
    height: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ff3333;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    box-shadow: 1px 6px 8px #888888;
}

li {
    height: 60px;
    float: left;
}

li a {
    height: 60px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2.2rem;
    border-right: 2px solid white;
}

#left {
    border-left: 2px solid white;
}

li a:hover{
    background-color: black;
}

.page{
  display: flex;
  justify-content: center;
}

.section1{
  width: 980px;
  justify-content: center;
  margin-top: 36px;
}
.title{
  padding-top:100px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size: 6rem;
  font-weight: bold;
  color: #ff3333;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.stitle{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size: 3.6rem;
  display: inline;
}

#red{
  font-weight: bold;
  color: #ff3333;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.txt{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.6rem;
  margin-top: 30px;
}
.equipe{
  width 980px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.equipe1{
  width: 980px;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
.bold{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.section2{
  width: 980px;
  justify-content: center;
  margin-top: 50px;
}


footer{
  height: 160px;
  width: 100%;
  bottom:0;
  background-color: #2b5dc3;
  color: white;
  text-decoration-color: white;
  text-align: center;

}
i{
  text-decoration: none;
}
.foot{
  margin-top: 60px;
  margin-right: 40px;
  color: white;
}

img:hover{
  transform: scale(1.1);

}
